/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* _________________________________ */

body {
    box-sizing: border-box;
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif;
    color:white;
    font-size: 18px;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

main {
    background-color: hsl(216, 50%, 16%);
    max-width:250px;
    border-radius: 15px;
    padding:20px;
}

.product-image img {
    width:100%;
    border-radius: 8px;
}

.product-image {
    position: relative;
}

.product-link::before {
    content: url("images/icon-view.svg");
    width: 100%;
    height: 99%;
    position:absolute;
    background-color: hsl(178deg 100% 50% / 60%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 200ms;
}

.product-link:hover::before {
    opacity:1;
}



.title {
    margin:20px 0;
}

.title > a {
    font-size:22px;
    color: white;
    text-decoration: none;
    transition:100ms;
}

.title > a:hover, .title > a:focus {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.description {
    font-size:1rem;
    color:hsl(215, 51%, 70%);
    font-weight:300;
    margin:20px 0;
}

.price {
    display:flex;
    justify-content: first;
    align-items: center;
    gap: 5px;
}

#price {
    font-size:15px;
    color:hsl(178, 100%, 50%);
}

#time {
    font-size:15px;
    color:hsl(215, 51%, 70%);
}

.date {
    display:flex;
    justify-content: first;
    align-items: center;
    gap: 8px;
}

.price-time {
    display:flex;
    justify-content: space-between;
    margin:20px 0;
}

.main-text {
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.creator {
    margin-top:20px;
    display:flex;
    gap:10px;
    align-items: center;
}

.creator > img {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius:50%; 
}

.author {
    font-weight:300;
    font-size: 15px;
    color:hsl(215, 51%, 70%);
}

.author > a {
    color: white;
    text-decoration: none;
    transition:100ms;
}

.author > a:hover, .author > a:focus {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top:50px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
